# .gitignore
node_modules/
web/node_modules/
api/node_modules/
api/.env

# Next.js
web/.next
web/out

# TypeScript build
api/dist
/generated/prisma

web/.env.local

.env
.env.*
*.env
*.env.local
.firebase/
api/firebase-debug.log
sigsag_status.md
FIREBASE_DEPLOYMENT.md
